<h1>האתר שלנו מתווך בין מתנדבים לחולים<br/>
    כל שעליכם לעשות זה להרשם לאתר<br/>
    אם אתם זקוקים למתנדב - תקבלו את המתנדב שהכי מתאים לכם<br/>
    ואם אתם מעוניינים להתנדב - תקבלו את החולה שהכי מתאים לנתונים שלכם<br/>
    בהצלחה<br/>
    </h1>
       
    <div class="signUpButton">
        <button routerLink="/signUp" class="signUpButton">להרשמה</button>
      </div>
      <h1>חלק מבתי החולים שאיתם אנו מתווכים</h1>
      <div class="carousel-container">
        <div class="carousel">
            <img src="../../assets/hospital1.png" alt="בית חולים 1">
            <img src="../../assets/hospital2.png" alt="בית חולים 2">
            <img src="../../assets/hospital3.png" alt="בית חולים 3">
            <img src="../../assets/hospital4.png" alt="בית חולים 4">
            <img src="../../assets/hospital5.png" alt="בית חולים 5">
            <img src="../../assets/hospital6.png" alt="בית חולים 6">
            <img src="../../assets/hospital7.png" alt="בית חולים 7">
            <img src="../../assets/hospital8.png" alt="בית חולים 8">
            <img src="../../assets/hospital9.png" alt="בית חולים 9">
            <img src="../../assets/hospital10.png" alt="בית חולים 10">
            <img src="../../assets/hospital11.png" alt="בית חולים 11">
            <img src="../../assets/hospital12.png" alt="בית חולים 12">
            <img src="../../assets/hospital13.png" alt="בית חולים 13">
            <img src="../../assets/hospital14.png" alt="בית חולים 14">
            <img src="../../assets/hospital15.png" alt="בית חולים 15">
        </div>
    </div>