
<div class="signup-container">
    <div class="wrapper-images">
      <div class="images-line">
        <div class="line" style="background-image:url(../../assets/hospital1.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital2.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital3.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital4.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital5.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital1.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital2.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital3.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital4.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital5.png)"></div>
      </div>
      <div class="images-line">
        <div class="line" style="background-image:url(../../assets/hospital6.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital7.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital8.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital9.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital10.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital6.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital7.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital8.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital9.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital10.png)"></div>
      </div>
      <div class="images-line">
        <div class="line" style="background-image:url(../../assets/hospital11.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital12.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital13.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital14.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital15.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital11.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital12.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital13.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital14.png)"></div>
        <div class="line" style="background-image:url(../../assets/hospital15.png)"></div>
      </div>
      
        <div class="images-line">
          <div class="line" style="background-image:url(../../assets/hospital1.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital2.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital3.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital4.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital5.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital1.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital2.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital3.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital4.png)"></div>
          <div class="line" style="background-image:url(../../assets/hospital5.png)"></div>
        </div><div class="images-line">
      </div>
    </div>
  
    <div class="content-container">
      <!-- <div class="logo">
        <img src="path/to/your/square-logo.png" alt="Your Logo">
      </div> -->
      
      <div class="text-content">
        <h1>Care Pare – התאמה אישית בין מתנדבים לחולים</h1>  
        <p>ברוכים הבאים ל-Care Pare, הפלטפורמה שמחברת בין מתנדבים לחולים הזקוקים לעזרה, על בסיס התאמה אישית ומדויקת.</p>  
        
        <p>איך זה עובד?</p>  
        <ul>
          <li>נרשמים ומזינים את הפרטים האישיים שלכם.</li>  
          <li>אם אתם מחפשים מתנדב – נמצא עבורכם את האדם המתאים ביותר לצרכים שלכם.</li>  
          <li>אם אתם מעוניינים להתנדב – נתאים לכם חולה שזקוק בדיוק לעזרתכם.</li>  
        </ul>  
        
        <p>Care Pare דואג להתאמות מדויקות כדי לוודא שכל מתנדב וכל חולה מקבלים את הסיוע המתאים ביותר עבורם.  
        יחד, נוכל להפוך את ההתנדבות לנגישה, משמעותית ומועילה לכולם.</p>  
        
        <p>הצטרפו אלינו והתחילו לעשות שינוי כבר היום!</p>        
      </div>
      
      <button routerLink="/signUp" class="signup-button">להרשמה</button>
    </div>
  </div>