.home-container {
    display: flex;
    justify-content: flex-end; /* ממקם את התוכן בצד ימין */
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/Empty\ street-cuate.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding-right: 5%; /* קצת רווח מהצד הימני */
}

.register-button {
    width: 40vh;  /* 1/6 מרוחב הדף */
    height: 60vh; /* 1/6 מגובה הדף */
    background-color: brown;
    border: none;
    border-radius: 20px; /* קצוות עגולים */
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: rgba(0, 0, 0, 0.3); /* רקע כהה יותר בעת מעבר עכבר */
}
