<div class="signUp-container">
    <h2>הרשמה</h2>
    
    <form (ngSubmit)="onSubmit()">
      <label>שם מלא:</label>
      <input type="text" formControlName="fullName" required />
  
      <label>טלפון:</label>
      <input type="text" formControlName="phone" required />
  
      <label>תאריך לידה:</label>
      <input type="date" formControlName="birthDate" required />
  
      <label>סיסמה:</label>
      <input type="password" formControlName="password" required />
  
      <label>אימייל:</label>
      <input type="email" formControlName="email" required />
  
      <label>פרטים נוספים:</label>
      <textarea formControlName="extraDetails"></textarea>
    </form>
  <button type="submit" >הרשם</button>
    <!-- <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p> -->
  </div>
  