<header>
    <nav>
      <!-- צד שמאל - כפתור אודות -->
      <div class="left">
        <a routerLink="/about" class="about-button">אודות</a>
      </div>
  
<!-- מרכז - הלוגו -->
<div class="center">
  <a routerLink="/">
    <img src="assets/LOGO_LONG.png" alt="לוגו" class="logo" />
  </a>
</div>
  
      <!-- צד ימין - תמונת פרופיל -->
      <div class="right">
        <img src="/profile.jpg" alt="תמונת פרופיל" class="profile-pic" />

        <span class="user-status">משתמש לא מחובר</span>

        <a routerLink="personalArea">
        <span class="user-status">משתמש לא מחובר</span>
        </a>
      </div>
    </nav>
  </header>
  